* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    align-items: center;
    display: flex;
    color: rgb(208, 178, 236);
    min-height: 100vh;
    justify-content: center;
}

h1 {
    text-align: center;
    padding-right: 20px;
    text-transform: uppercase;
}

h1:hover {
    color: #cc97c3;
    text-decoration: none;
        -webkit-text-stroke: 0.5px rgb(233, 155, 222); 
}

#p1, #p2, #p3 {
    color: #cc97c3;
    background-color: rgb(243, 223, 198);
    flex-direction: column;
    border-radius: 0.5px;
    border-width: 50%;
    max-width: 80%;
    font-size: large;
    flex-direction: column-reverse;

}


